.logo {
  height: auto;
  width: 200px;
}

@media only screen and (max-width: 1024px) {
  .logo {
    height: auto;
    width: 150px;
  }
}
.icon {
  height: 25px;
  width: 25px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg)
    brightness(100%) contrast(100);
}
.tournament {
  background: linear-gradient(
    112.12deg,
    #ffb72b -8.55%,
    #c84e78 70.14%,
    #7554ec 189.1%
  );
}
.leaderBoard {
  background: linear-gradient(180deg, #853a73, #4f2197);
}
.leaderBoardTitle {
  background: linear-gradient(
    291.94deg,
    #8b48aa 3.94%,
    #b34e85 49.27%,
    #be655b 87.28%
  );
}

.outer-box {
  border: 0.5 "solid" "#263559";
  border-radius: 2;
  color: "white";
  background-color: "#1b234a";
}
